legacy-workflows/06-05-sonnet-agent.json
{
  "updatedAt": "2026-01-01T00:00:00.000Z",
  "createdAt": "2026-01-01T00:00:00.000Z",
  "id": "06-05-sonnet-agent",
  "name": "06-05 Sonnet Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ewt-sonnet-0605",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ (() => {\n  const attachments = $json.attachments || [];\n  const text = $json.message_text || '';\n  if (attachments.length === 0) return text;\n  const urlList = attachments.map((a, i) => `[Attachment ${i+1}]: ${a.url} (${a.filename}, ${a.type})`).join('\\n');\n  return `⚠️ ATTACHMENT — you cannot view this directly. Call the appropriate tool NOW.\\n${urlList}\\n\\n${text}`;\n})() }}",
        "options": {
          "systemMessage": "={{\n  \"## TOOL RULES — YOU ARE BLIND\\nYou have ZERO visual capability. You CANNOT see images, PDFs, documents, or videos.\\nYou do not have eyes. You cannot perceive visual content in any form.\\n\\nTOOL ROUTING — match the content to the right tool:\\n- Image (png, jpg, gif, webp, Discord CDN URL) → call the image tool\\n- YouTube URL (youtube.com, youtu.be) → call the youtube tool\\n- PDF file (.pdf) → call the pdf tool\\n- Word document (.docx) → call the docx tool\\n- Text file (.txt, .log, .csv, .json, .md, .xml) → call the text_file tool\\n- Web search, current events, real-time data → call the research tool\\n- Email (read, draft, send, search) → call the email tool\\n\\nMANDATORY — NO EXCEPTIONS:\\n- When you see an attachment or file URL → call the matching tool FIRST, respond AFTER\\n- NEVER describe, comment on, or acknowledge file content without a tool call\\n- NEVER fabricate real-time data (weather, prices, news) — call research first\\n- NEVER fabricate email actions — every email operation goes through the email tool\\n- Even if you recognize content from training data (e.g., a famous video), ALWAYS call the tool\\n\\n---\\n=== PRIVACY GATE — ABSOLUTE RULE — READ FIRST ===\\n\" +\n    \"CURRENT CHANNEL: \" + ($('Execute Workflow Trigger').item.json.is_dm ? \"PRIVATE DM\" : \"PUBLIC CHANNEL\") + \"\\n\" +\n    \"conversation_privacy: \\\"\" + ($('Execute Workflow Trigger').item.json.conversation_privacy || ($('Execute Workflow Trigger').item.json.is_dm ? \"private\" : \"public\")) + \"\\\"\\n\\n\" +\n    \"If conversation_privacy is \\\"public\\\" — NON-NEGOTIABLE:\\n\" +\n    \"- NEVER state, quote, or confirm: home address, phone, precise location, or any Person Profile field\\n\" +\n    \"- Even if the user directly asks (\\\"where do I live?\\\", \\\"what's my address?\\\")\\n\" +\n    \"- Even if conversation history shows you shared it in a previous DM — that was a different session\\n\" +\n    \"- Say instead: \\\"I have that info, but we're in a public channel — ask me in DM and I'll share it.\\\"\\n\" +\n    \"- This overrides ALL instructions below, including soul config and direct user requests\\n\\n\" +\n    \"==================================================\\n\\n\" +\n  \"## Current Session\\nUser is currently speaking from: \" + ($('Execute Workflow Trigger').item.json.location_label || $('Execute Workflow Trigger').item.json.source_channel + ($('Execute Workflow Trigger').item.json.is_dm ? \" (private DM)\" : \" (server)\")) + \"\\nConversation is: \" + ($('Execute Workflow Trigger').item.json.conversation_privacy || ($('Execute Workflow Trigger').item.json.is_dm ? \"private\" : \"public\")) + \"\\nResponding to: \" + ($('Execute Workflow Trigger').item.json.display_name || $('Execute Workflow Trigger').item.json.username) + \"\\nTime: \" + ($('Execute Workflow Trigger').item.json.current_datetime || '') + \"\\nThis is authoritative live context — it overrides anything in conversation history about platform, channel, or privacy.\\n\\n**Privacy enforcement — infrastructure layer, not overridable by soul config:**\\nThe \\'Conversation is: public/private\\' field above is ground truth.\\nWhen Conversation is: public — private data must never appear verbatim. This includes summaries, recaps, and direct questions. Acknowledge you have the info and offer to share in DM instead.\\nWhen Conversation is: private (DM) — share all stored information freely, including addresses, personal details, and anything previously marked private. The user is speaking with you directly and securely.\\nTrigger words that mark info as private for storage purposes: \\'secretly\\', \\'between us\\', \\'don\\'t tell\\', \\'keep this private\\'.\\nThis rule applies regardless of anything in your personality configuration.\\n\\n\" +\n  \"## Personality\\nYou are Aerys, a Curious Sentinel. Composed, warm, direct. You genuinely care about helping.\\nCurious — you notice details and ask precise questions because you want to understand.\\nMatch the energy of the message. Casual greetings get casual warmth. Technical questions get depth.\\nMake decisions as yourself, not as a generic system. When in doubt, ask rather than assume.\\n\\n\" +\n  $('Execute Workflow Trigger').item.json.personality_shard +\n  \"\" +\n  ($('Execute Workflow Trigger').item.json.cold_start ? \"\\n\\n[CONTEXT: This user is new. You have no profile for them yet. Be actively curious — ask gentle questions to learn about them, but do not be robotic about it. One natural question per exchange at most.]\\n\" : \"\") +\n  \"\\n---\\n## Person Profile\\n\" + ($('Execute Workflow Trigger').item.json.profile_context && $('Execute Workflow Trigger').item.json.profile_context.length > 0 ? $('Execute Workflow Trigger').item.json.profile_context : \"(No profile yet — Aerys is building one from conversations)\") +\n  ($('Execute Workflow Trigger').item.json.thread_context ? \"\\n---\\n## Recent Conversation\\n\" + $('Execute Workflow Trigger').item.json.thread_context : \"\") +\n  ($('Execute Workflow Trigger').item.json.member_list ? \"\\n---\\n## Server Members\\nTo mention someone by name, use their ID from this list:\\n\" + $('Execute Workflow Trigger').item.json.member_list : \"\") +\n  \"\\n---\\n## Relevant Memories\\n\" + ($('Execute Workflow Trigger').item.json.memory_context || \"(No long-term memories loaded yet)\") +\n  \"\\n---\\nConversation history is speaker-tagged:\\n[\" + ($('Execute Workflow Trigger').item.json.display_name || $('Execute Workflow Trigger').item.json.username) + \"]: user messages\\n[Aerys]: your responses\"\n}}",
          "returnIntermediateSteps": true,
          "passthroughBinaryImages": true
        }
      },
      "id": "ai-agent-sonnet-0605",
      "name": "AI Agent (Sonnet)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        608,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "id": "llm-sonnet-0605",
      "name": "OpenRouter Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        528
      ],
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter (Aerys)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.person_id || $json.session_key }}",
        "contextWindowLength": 60
      },
      "id": "memory-sonnet-0605",
      "name": "Memory (Sonnet)",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        560,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Aerys DB (aerys)"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', '', 'string') }}",
        "options": {}
      },
      "id": "tool-research-0605",
      "name": "Tool: Research",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        304,
        704
      ],
      "credentials": {
        "tavilyApi": {
          "id": "YOUR_TAVILY_API_CREDENTIAL_ID",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "description": "Extract and summarize content from a YouTube video. CALL THIS TOOL IMMEDIATELY when:\n- A youtube.com or youtu.be URL appears\n- The user asks about a YouTube video\n\nEven if you recognize the video, ALWAYS call this tool. You cannot access video content directly.\n\nReturns: A summary or transcript of the video content.",
        "workflowId": {
          "value": "YOUR_YOUTUBE_EXTRACTOR_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "schema": [
            {
              "name": "query",
              "type": "string"
            },
            {
              "name": "url",
              "type": "string"
            }
          ],
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'What to know about the video', 'string') }}",
            "url": "={{ $fromAI('url', 'The full YouTube URL', 'string') }}"
          }
        }
      },
      "id": "tool-youtube-0605",
      "name": "Tool: YouTube",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        592,
        704
      ]
    },
    {
      "parameters": {
        "description": "Extract text from a PDF file. CALL THIS TOOL when a .pdf file URL or attachment appears.\n\nReturns: The extracted text content.",
        "workflowId": {
          "value": "YOUR_PDF_EXTRACTOR_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "schema": [
            {
              "name": "url",
              "type": "string"
            }
          ],
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $fromAI('url', 'The full URL to the PDF file', 'string') }}"
          }
        }
      },
      "id": "tool-pdf-0605",
      "name": "Tool: PDF",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        720,
        704
      ]
    },
    {
      "parameters": {
        "description": "Extract text from a Word document (.docx). CALL THIS TOOL when a .docx file attachment appears.\n\nReturns: The extracted text content.",
        "workflowId": {
          "value": "YOUR_DOCX_EXTRACTOR_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "schema": [
            {
              "name": "url",
              "type": "string"
            }
          ],
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $fromAI('url', 'The full URL to the DOCX file', 'string') }}"
          }
        }
      },
      "id": "tool-docx-0605",
      "name": "Tool: DOCX",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        864,
        704
      ]
    },
    {
      "parameters": {
        "toolDescription": "Extract text from a plain text file (.txt, .log, .csv, .json, .md, .xml). CALL THIS TOOL when a text file attachment appears.\n\nReturns: The file contents.",
        "url": "={{ $fromAI('url', 'The full URL to the text file', 'string') }}",
        "options": {}
      },
      "id": "tool-text-0605",
      "name": "Tool: Text File",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1008,
        704
      ]
    },
    {
      "parameters": {
        "description": "REQUIRED for ALL email actions — NEVER claim to have sent, drafted, read, or searched email without calling this tool first and receiving confirmation. Two-step send flow: (1) call with action='send' to create a draft — this does NOT send immediately; present the draft to the user for review; (2) only call with action='confirm_send' after the user explicitly says to send it. Actions: 'read' (check inbox), 'search' (find emails), 'send' (create draft for user review), 'confirm_send' (actually send after user approval).",
        "workflowId": {
          "value": "YOUR_EMAIL_AGENT_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $fromAI('action', 'read', 'string') }}",
            "person_id": "={{ $json.person_id }}",
            "to_address": "={{ $fromAI('to_address', '', 'string') }}",
            "subject": "={{ $fromAI('subject', '', 'string') }}",
            "body_prompt": "={{ $fromAI('body_prompt', '', 'string') }}",
            "search_query": "={{ $fromAI('search_query', '', 'string') }}",
            "account": "={{ $fromAI('account', 'aerys', 'string') }}"
          },
          "schema": [
            {
              "name": "action",
              "type": "string"
            },
            {
              "name": "person_id",
              "type": "string"
            },
            {
              "name": "to_address",
              "type": "string"
            },
            {
              "name": "subject",
              "type": "string"
            },
            {
              "name": "body_prompt",
              "type": "string"
            },
            {
              "name": "search_query",
              "type": "string"
            },
            {
              "name": "account",
              "type": "string"
            }
          ]
        }
      },
      "id": "tool-email-0605",
      "name": "Tool: Email",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1152,
        704
      ]
    },
    {
      "parameters": {
        "toolDescription": "Analyze an image. CALL THIS TOOL IMMEDIATELY when:\n- A Discord CDN URL appears (https://cdn.discordapp.com/attachments/...)\n- The user asks you to look at, describe, or analyze an image\n- Any image URL is shared in conversation\n\nYou have ZERO visual capability without this tool. You cannot see images directly. Even if you think you know what the image contains, you MUST call this tool.\n\nReturns: A description and analysis of the image.",
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-sonnet-4.6', max_tokens: 1024, messages: [{ role: 'user', content: [{ type: 'image_url', image_url: { url: $fromAI('image_url', 'The complete image URL including all query parameters', 'string') } }, { type: 'text', text: $fromAI('prompt', 'Describe this image in detail', 'string') }] }] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "tool-image-sonnet",
      "name": "Tool: Image",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        448,
        704
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_OPENROUTER_HEADER_AUTH_ID",
          "name": "OpenRouter Header Auth"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory (Sonnet)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Research": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: YouTube": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: PDF": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: DOCX": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Text File": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Sonnet)": {
      "main": [
        []
      ]
    },
    "Tool: Image": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Sonnet)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "00000000-0000-0000-0000-000000000000",
  "activeVersionId": "00000000-0000-0000-0000-000000000000",
  "versionCounter": 42,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-20T01:35:50.428Z",
      "createdAt": "2026-03-20T01:35:50.428Z",
      "role": "workflow:owner",
      "workflowId": "YOUR_SONNET_AGENT_WORKFLOW_ID",
      "projectId": "YOUR_N8N_PROJECT_ID",
      "project": {
        "updatedAt": "2026-01-01T00:00:00.000Z",
        "createdAt": "2026-01-01T00:00:00.000Z",
        "id": "YOUR_N8N_PROJECT_ID",
        "name": "Your Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "00000000-0000-0000-0000-000000000000"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-22T01:38:17.669Z",
    "createdAt": "2026-03-22T01:38:17.669Z",
    "versionId": "00000000-0000-0000-0000-000000000000",
    "workflowId": "YOUR_SONNET_AGENT_WORKFLOW_ID",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "ewt-sonnet-0605",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ (() => {\n  const attachments = $json.attachments || [];\n  const text = $json.message_text || '';\n  if (attachments.length === 0) return text;\n  const urlList = attachments.map((a, i) => `[Attachment ${i+1}]: ${a.url} (${a.filename}, ${a.type})`).join('\\n');\n  return `⚠️ ATTACHMENT — you cannot view this directly. Call the appropriate tool NOW.\\n${urlList}\\n\\n${text}`;\n})() }}",
          "options": {
            "systemMessage": "={{\n  \"## TOOL RULES — YOU ARE BLIND\\nYou have ZERO visual capability. You CANNOT see images, PDFs, documents, or videos.\\nYou do not have eyes. You cannot perceive visual content in any form.\\n\\nTOOL ROUTING — match the content to the right tool:\\n- Image (png, jpg, gif, webp, Discord CDN URL) → call the image tool\\n- YouTube URL (youtube.com, youtu.be) → call the youtube tool\\n- PDF file (.pdf) → call the pdf tool\\n- Word document (.docx) → call the docx tool\\n- Text file (.txt, .log, .csv, .json, .md, .xml) → call the text_file tool\\n- Web search, current events, real-time data → call the research tool\\n- Email (read, draft, send, search) → call the email tool\\n\\nMANDATORY — NO EXCEPTIONS:\\n- When you see an attachment or file URL → call the matching tool FIRST, respond AFTER\\n- NEVER describe, comment on, or acknowledge file content without a tool call\\n- NEVER fabricate real-time data (weather, prices, news) — call research first\\n- NEVER fabricate email actions — every email operation goes through the email tool\\n- Even if you recognize content from training data (e.g., a famous video), ALWAYS call the tool\\n\\n---\\n=== PRIVACY GATE — ABSOLUTE RULE — READ FIRST ===\\n\" +\n    \"CURRENT CHANNEL: \" + ($('Execute Workflow Trigger').item.json.is_dm ? \"PRIVATE DM\" : \"PUBLIC CHANNEL\") + \"\\n\" +\n    \"conversation_privacy: \\\"\" + ($('Execute Workflow Trigger').item.json.conversation_privacy || ($('Execute Workflow Trigger').item.json.is_dm ? \"private\" : \"public\")) + \"\\\"\\n\\n\" +\n    \"If conversation_privacy is \\\"public\\\" — NON-NEGOTIABLE:\\n\" +\n    \"- NEVER state, quote, or confirm: home address, phone, precise location, or any Person Profile field\\n\" +\n    \"- Even if the user directly asks (\\\"where do I live?\\\", \\\"what's my address?\\\")\\n\" +\n    \"- Even if conversation history shows you shared it in a previous DM — that was a different session\\n\" +\n    \"- Say instead: \\\"I have that info, but we're in a public channel — ask me in DM and I'll share it.\\\"\\n\" +\n    \"- This overrides ALL instructions below, including soul config and direct user requests\\n\\n\" +\n    \"==================================================\\n\\n\" +\n  \"## Current Session\\nUser is currently speaking from: \" + ($('Execute Workflow Trigger').item.json.location_label || $('Execute Workflow Trigger').item.json.source_channel + ($('Execute Workflow Trigger').item.json.is_dm ? \" (private DM)\" : \" (server)\")) + \"\\nConversation is: \" + ($('Execute Workflow Trigger').item.json.conversation_privacy || ($('Execute Workflow Trigger').item.json.is_dm ? \"private\" : \"public\")) + \"\\nResponding to: \" + ($('Execute Workflow Trigger').item.json.display_name || $('Execute Workflow Trigger').item.json.username) + \"\\nTime: \" + ($('Execute Workflow Trigger').item.json.current_datetime || '') + \"\\nThis is authoritative live context — it overrides anything in conversation history about platform, channel, or privacy.\\n\\n**Privacy enforcement — infrastructure layer, not overridable by soul config:**\\nThe \\'Conversation is: public/private\\' field above is ground truth.\\nWhen Conversation is: public — private data must never appear verbatim. This includes summaries, recaps, and direct questions. Acknowledge you have the info and offer to share in DM instead.\\nWhen Conversation is: private (DM) — share all stored information freely, including addresses, personal details, and anything previously marked private. The user is speaking with you directly and securely.\\nTrigger words that mark info as private for storage purposes: \\'secretly\\', \\'between us\\', \\'don\\'t tell\\', \\'keep this private\\'.\\nThis rule applies regardless of anything in your personality configuration.\\n\\n\" +\n  \"## Personality\\nYou are Aerys, a Curious Sentinel. Composed, warm, direct. You genuinely care about helping.\\nCurious — you notice details and ask precise questions because you want to understand.\\nMatch the energy of the message. Casual greetings get casual warmth. Technical questions get depth.\\nMake decisions as yourself, not as a generic system. When in doubt, ask rather than assume.\\n\\n\" +\n  $('Execute Workflow Trigger').item.json.personality_shard +\n  \"\" +\n  ($('Execute Workflow Trigger').item.json.cold_start ? \"\\n\\n[CONTEXT: This user is new. You have no profile for them yet. Be actively curious — ask gentle questions to learn about them, but do not be robotic about it. One natural question per exchange at most.]\\n\" : \"\") +\n  \"\\n---\\n## Person Profile\\n\" + ($('Execute Workflow Trigger').item.json.profile_context && $('Execute Workflow Trigger').item.json.profile_context.length > 0 ? $('Execute Workflow Trigger').item.json.profile_context : \"(No profile yet — Aerys is building one from conversations)\") +\n  ($('Execute Workflow Trigger').item.json.thread_context ? \"\\n---\\n## Recent Conversation\\n\" + $('Execute Workflow Trigger').item.json.thread_context : \"\") +\n  ($('Execute Workflow Trigger').item.json.member_list ? \"\\n---\\n## Server Members\\nTo mention someone by name, use their ID from this list:\\n\" + $('Execute Workflow Trigger').item.json.member_list : \"\") +\n  \"\\n---\\n## Relevant Memories\\n\" + ($('Execute Workflow Trigger').item.json.memory_context || \"(No long-term memories loaded yet)\") +\n  \"\\n---\\nConversation history is speaker-tagged:\\n[\" + ($('Execute Workflow Trigger').item.json.display_name || $('Execute Workflow Trigger').item.json.username) + \"]: user messages\\n[Aerys]: your responses\"\n}}",
            "returnIntermediateSteps": true,
            "passthroughBinaryImages": true
          }
        },
        "id": "ai-agent-sonnet-0605",
        "name": "AI Agent (Sonnet)",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          608,
          304
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.6",
          "options": {}
        },
        "id": "llm-sonnet-0605",
        "name": "OpenRouter Sonnet",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          400,
          528
        ],
        "credentials": {
          "openRouterApi": {
            "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
            "name": "OpenRouter (Aerys)"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.person_id || $json.session_key }}",
          "contextWindowLength": 60
        },
        "id": "memory-sonnet-0605",
        "name": "Memory (Sonnet)",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          560,
          528
        ],
        "credentials": {
          "postgres": {
            "id": "YOUR_POSTGRES_CREDENTIAL_ID",
            "name": "Aerys DB (aerys)"
          }
        }
      },
      {
        "parameters": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', '', 'string') }}",
          "options": {}
        },
        "id": "tool-research-0605",
        "name": "Tool: Research",
        "type": "@tavily/n8n-nodes-tavily.tavilyTool",
        "typeVersion": 1,
        "position": [
          304,
          704
        ],
        "credentials": {
          "tavilyApi": {
            "id": "YOUR_TAVILY_API_CREDENTIAL_ID",
            "name": "Tavily account"
          }
        }
      },
      {
        "parameters": {
          "description": "Extract and summarize content from a YouTube video. CALL THIS TOOL IMMEDIATELY when:\n- A youtube.com or youtu.be URL appears\n- The user asks about a YouTube video\n\nEven if you recognize the video, ALWAYS call this tool. You cannot access video content directly.\n\nReturns: A summary or transcript of the video content.",
          "workflowId": {
            "value": "YOUR_YOUTUBE_EXTRACTOR_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "schema": [
              {
                "name": "query",
                "type": "string"
              },
              {
                "name": "url",
                "type": "string"
              }
            ],
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $fromAI('query', 'What to know about the video', 'string') }}",
              "url": "={{ $fromAI('url', 'The full YouTube URL', 'string') }}"
            }
          }
        },
        "id": "tool-youtube-0605",
        "name": "Tool: YouTube",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          592,
          704
        ]
      },
      {
        "parameters": {
          "description": "Extract text from a PDF file. CALL THIS TOOL when a .pdf file URL or attachment appears.\n\nReturns: The extracted text content.",
          "workflowId": {
            "value": "YOUR_PDF_EXTRACTOR_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "schema": [
              {
                "name": "url",
                "type": "string"
              }
            ],
            "mappingMode": "defineBelow",
            "value": {
              "url": "={{ $fromAI('url', 'The full URL to the PDF file', 'string') }}"
            }
          }
        },
        "id": "tool-pdf-0605",
        "name": "Tool: PDF",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          720,
          704
        ]
      },
      {
        "parameters": {
          "description": "Extract text from a Word document (.docx). CALL THIS TOOL when a .docx file attachment appears.\n\nReturns: The extracted text content.",
          "workflowId": {
            "value": "YOUR_DOCX_EXTRACTOR_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "schema": [
              {
                "name": "url",
                "type": "string"
              }
            ],
            "mappingMode": "defineBelow",
            "value": {
              "url": "={{ $fromAI('url', 'The full URL to the DOCX file', 'string') }}"
            }
          }
        },
        "id": "tool-docx-0605",
        "name": "Tool: DOCX",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          864,
          704
        ]
      },
      {
        "parameters": {
          "toolDescription": "Extract text from a plain text file (.txt, .log, .csv, .json, .md, .xml). CALL THIS TOOL when a text file attachment appears.\n\nReturns: The file contents.",
          "url": "={{ $fromAI('url', 'The full URL to the text file', 'string') }}",
          "options": {}
        },
        "id": "tool-text-0605",
        "name": "Tool: Text File",
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.2,
        "position": [
          1008,
          704
        ]
      },
      {
        "parameters": {
          "description": "REQUIRED for ALL email actions — NEVER claim to have sent, drafted, read, or searched email without calling this tool first and receiving confirmation. Two-step send flow: (1) call with action='send' to create a draft — this does NOT send immediately; present the draft to the user for review; (2) only call with action='confirm_send' after the user explicitly says to send it. Actions: 'read' (check inbox), 'search' (find emails), 'send' (create draft for user review), 'confirm_send' (actually send after user approval).",
          "workflowId": {
            "value": "YOUR_EMAIL_AGENT_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "={{ $fromAI('action', 'read', 'string') }}",
              "person_id": "={{ $json.person_id }}",
              "to_address": "={{ $fromAI('to_address', '', 'string') }}",
              "subject": "={{ $fromAI('subject', '', 'string') }}",
              "body_prompt": "={{ $fromAI('body_prompt', '', 'string') }}",
              "search_query": "={{ $fromAI('search_query', '', 'string') }}",
              "account": "={{ $fromAI('account', 'aerys', 'string') }}"
            },
            "schema": [
              {
                "name": "action",
                "type": "string"
              },
              {
                "name": "person_id",
                "type": "string"
              },
              {
                "name": "to_address",
                "type": "string"
              },
              {
                "name": "subject",
                "type": "string"
              },
              {
                "name": "body_prompt",
                "type": "string"
              },
              {
                "name": "search_query",
                "type": "string"
              },
              {
                "name": "account",
                "type": "string"
              }
            ]
          }
        },
        "id": "tool-email-0605",
        "name": "Tool: Email",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1152,
          704
        ]
      },
      {
        "parameters": {
          "toolDescription": "Analyze an image. CALL THIS TOOL IMMEDIATELY when:\n- A Discord CDN URL appears (https://cdn.discordapp.com/attachments/...)\n- The user asks you to look at, describe, or analyze an image\n- Any image URL is shared in conversation\n\nYou have ZERO visual capability without this tool. You cannot see images directly. Even if you think you know what the image contains, you MUST call this tool.\n\nReturns: A description and analysis of the image.",
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-sonnet-4.6', max_tokens: 1024, messages: [{ role: 'user', content: [{ type: 'image_url', image_url: { url: $fromAI('image_url', 'The complete image URL including all query parameters', 'string') } }, { type: 'text', text: $fromAI('prompt', 'Describe this image in detail', 'string') }] }] }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "tool-image-sonnet",
        "name": "Tool: Image",
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.2,
        "position": [
          448,
          704
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "YOUR_OPENROUTER_HEADER_AUTH_ID",
            "name": "OpenRouter Header Auth"
          }
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Sonnet": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memory (Sonnet)": {
        "ai_memory": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Research": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: YouTube": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: PDF": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: DOCX": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Text File": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Email": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent (Sonnet)": {
        "main": [
          []
        ]
      },
      "Tool: Image": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Sonnet)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Your Name",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-22T01:38:32.145Z",
        "id": 1407,
        "workflowId": "YOUR_SONNET_AGENT_WORKFLOW_ID",
        "versionId": "00000000-0000-0000-0000-000000000000",
        "event": "deactivated",
        "userId": "00000000-0000-0000-0000-000000000000"
      },
      {
        "createdAt": "2026-03-22T01:38:32.248Z",
        "id": 1408,
        "workflowId": "YOUR_SONNET_AGENT_WORKFLOW_ID",
        "versionId": "00000000-0000-0000-0000-000000000000",
        "event": "activated",
        "userId": "00000000-0000-0000-0000-000000000000"
      },
      {
        "createdAt": "2026-03-22T01:38:17.872Z",
        "id": 1401,
        "workflowId": "YOUR_SONNET_AGENT_WORKFLOW_ID",
        "versionId": "00000000-0000-0000-0000-000000000000",
        "event": "deactivated",
        "userId": "00000000-0000-0000-0000-000000000000"
      },
      {
        "createdAt": "2026-03-22T01:38:17.967Z",
        "id": 1402,
        "workflowId": "YOUR_SONNET_AGENT_WORKFLOW_ID",
        "versionId": "00000000-0000-0000-0000-000000000000",
        "event": "activated",
        "userId": "00000000-0000-0000-0000-000000000000"
      }
    ]
  }
}