installer/workflows/06-03-central-error.json
{
  "updatedAt": "2026-03-18T00:53:09.792Z",
  "createdAt": "2026-03-18T00:53:09.792Z",
  "id": "06-03-central-error",
  "name": "06-03 Central Error Handler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger-06",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const workflow = $json.workflow || {};\nconst execution = $json.execution || {};\nconst error = execution.error || {};\n\nconst errorDetails = {\n  workflow_name: workflow.name || 'Unknown',\n  workflow_id: workflow.id || 'Unknown',\n  last_node: execution.lastNodeExecuted || 'Unknown',\n  error_message: error.message || 'No error message',\n  execution_id: execution.id || 'Unknown',\n  timestamp: new Date().toISOString()\n};\n\n// Discord message for #echoes\nconst discordMessage = [\n  '**Aerys Error**',\n  `Workflow: ${errorDetails.workflow_name}`,\n  `Node: ${errorDetails.last_node}`,\n  `Error: ${errorDetails.error_message}`,\n  `Exec: ${errorDetails.execution_id}`,\n].join('\\n');\n\nreturn [{json: {\n  ...errorDetails,\n  discord_message: discordMessage,\n  echoes_channel_id: 'YOUR_ECHOES_CHANNEL_ID', // #echoes \u2014 hardcoded, no $vars\n  audit_details: JSON.stringify({\n    workflow_name: errorDetails.workflow_name,\n    workflow_id: errorDetails.workflow_id,\n    last_node: errorDetails.last_node,\n    error_message: errorDetails.error_message,\n    execution_id: errorDetails.execution_id,\n    timestamp: errorDetails.timestamp\n  })\n}}];"
      },
      "id": "format-error-06",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (action, details) VALUES ('workflow_error', $1::jsonb)",
        "options": {
          "queryReplacement": "={{ [$json.audit_details] }}"
        }
      },
      "id": "log-audit-06",
      "name": "Log to Audit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        380,
        200
      ],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Aerys DB (aerys)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.echoes_channel_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({content: $json.discord_message}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-echoes-06",
      "name": "Send to Echoes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        420
      ],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "discordBotApi": {
          "id": "YOUR_DISCORD_BOT_CREDENTIAL_ID",
          "name": "Discord Bot account"
        }
      },
      "notes": "Sends error notification to #echoes Discord channel."
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Log to Audit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Echoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "00000000-0000-0000-0000-000000000000",
  "activeVersionId": "00000000-0000-0000-0000-000000000000",
  "versionCounter": 10,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-18T00:53:09.792Z",
      "createdAt": "2026-03-18T00:53:09.792Z",
      "role": "workflow:owner",
      "workflowId": "YOUR_CENTRAL_ERROR_WORKFLOW_ID",
      "projectId": "YOUR_N8N_PROJECT_ID",
      "project": {
        "updatedAt": "2026-01-01T00:00:00.000Z",
        "createdAt": "2026-01-01T00:00:00.000Z",
        "id": "YOUR_N8N_PROJECT_ID",
        "name": "Your Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "00000000-0000-0000-0000-000000000000"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-18T00:53:09.820Z",
    "createdAt": "2026-03-18T00:53:09.820Z",
    "versionId": "00000000-0000-0000-0000-000000000000",
    "workflowId": "YOUR_CENTRAL_ERROR_WORKFLOW_ID",
    "nodes": [
      {
        "parameters": {},
        "id": "error-trigger-06",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -100,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const workflow = $json.workflow || {};\nconst execution = $json.execution || {};\nconst error = execution.error || {};\n\nconst errorDetails = {\n  workflow_name: workflow.name || 'Unknown',\n  workflow_id: workflow.id || 'Unknown',\n  last_node: execution.lastNodeExecuted || 'Unknown',\n  error_message: error.message || 'No error message',\n  execution_id: execution.id || 'Unknown',\n  timestamp: new Date().toISOString()\n};\n\n// Discord message for #echoes\nconst discordMessage = [\n  '**Aerys Error**',\n  `Workflow: ${errorDetails.workflow_name}`,\n  `Node: ${errorDetails.last_node}`,\n  `Error: ${errorDetails.error_message}`,\n  `Exec: ${errorDetails.execution_id}`,\n].join('\\n');\n\nreturn [{json: {\n  ...errorDetails,\n  discord_message: discordMessage,\n  echoes_channel_id: 'YOUR_ECHOES_CHANNEL_ID', // #echoes \u2014 hardcoded, no $vars\n  audit_details: JSON.stringify({\n    workflow_name: errorDetails.workflow_name,\n    workflow_id: errorDetails.workflow_id,\n    last_node: errorDetails.last_node,\n    error_message: errorDetails.error_message,\n    execution_id: errorDetails.execution_id,\n    timestamp: errorDetails.timestamp\n  })\n}}];"
        },
        "id": "format-error-06",
        "name": "Format Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          140,
          300
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO audit_log (action, details) VALUES ('workflow_error', $1::jsonb)",
          "options": {
            "queryReplacement": "={{ [$json.audit_details] }}"
          }
        },
        "id": "log-audit-06",
        "name": "Log to Audit",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          380,
          200
        ],
        "continueOnFail": true,
        "credentials": {
          "postgres": {
            "id": "YOUR_POSTGRES_CREDENTIAL_ID",
            "name": "Aerys DB (aerys)"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://discord.com/api/v10/channels/{{ $json.echoes_channel_id }}/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "discordBotApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({content: $json.discord_message}) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "send-echoes-06",
        "name": "Send to Echoes",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          380,
          420
        ],
        "continueOnFail": true,
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "discordBotApi": {
            "id": "YOUR_DISCORD_BOT_CREDENTIAL_ID",
            "name": "Discord Bot account"
          }
        },
        "notes": "Sends error notification to #echoes Discord channel."
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Error": {
        "main": [
          [
            {
              "node": "Log to Audit",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send to Echoes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": [],
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [],
    "id": "00000000-0000-0000-0000-000000000000"
  }
}