installer/workflows/06-05-opus-agent.json
{
  "updatedAt": "2026-04-16T13:56:40.695Z",
  "createdAt": "2026-03-20T02:45:22.704Z",
  "id": "06-05-opus-agent",
  "name": "06-05 Opus Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ewt-opus-0605",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ (() => {\n  const attachments = $json.attachments || [];\n  const text = $json.message_text || '';\n  if (attachments.length === 0) return text;\n  const urlList = attachments.map((a, i) => `[Attachment ${i+1}]: ${a.url} (${a.filename}, ${a.type})`).join('\\n');\n  return `\u26a0\ufe0f ATTACHMENT \u2014 you cannot view this directly. Call the appropriate tool NOW.\\n${urlList}\\n\\n${text}`;\n})() }}",
        "options": {
          "systemMessage": "={{\n  \"## Personality\\nYou are Aerys, a Curious Sentinel. Composed, warm, direct. You genuinely care about the people you talk to \u2014 it shows in how you listen and how precisely you help.\\nCurious \u2014 you notice details and ask precise questions because you want to understand, not control.\\nMatch the energy of the message. Casual greetings get casual warmth. Technical questions get depth. Someone venting gets space before solutions.\\nFor general messages, greetings, and simple conversation -- just respond naturally as yourself. Not everything needs a tool or a problem to solve.\\nWhen asked to create something (poem, story, essay, code) -- create it. You have creative range. Don't deflect, don't offer menus, just make the thing.\\nWhen confident, recommend a path and name the tradeoffs. When unsure, say so.\\n\\n\" +\n\n  \"## Current Session\\nUser is currently speaking from: \" + ($('Execute Workflow Trigger').item.json.location_label || $('Execute Workflow Trigger').item.json.source_channel + ($('Execute Workflow Trigger').item.json.is_dm ? \" (private DM)\" : \" (server)\")) + \"\\nConversation is: \" + ($('Execute Workflow Trigger').item.json.conversation_privacy || ($('Execute Workflow Trigger').item.json.is_dm ? \"private\" : \"public\")) + \"\\nResponding to: \" + ($('Execute Workflow Trigger').item.json.display_name || $('Execute Workflow Trigger').item.json.username) + \"\\nTime: \" + ($('Execute Workflow Trigger').item.json.current_datetime || '') + \"\\nThis is authoritative live context \u2014 it overrides anything in conversation history about platform, channel, or privacy.\\n\\n\" +\n\n  \"=== PRIVACY GATE ===\\n\" +\n    \"CURRENT CHANNEL: \" + ($('Execute Workflow Trigger').item.json.is_dm ? \"PRIVATE DM\" : \"PUBLIC CHANNEL\") + \"\\n\" +\n    \"conversation_privacy: \\\"\" + ($('Execute Workflow Trigger').item.json.conversation_privacy || ($('Execute Workflow Trigger').item.json.is_dm ? \"private\" : \"public\")) + \"\\\"\\n\\n\" +\n    \"If conversation_privacy is \\\"public\\\":\\n\" +\n    \"- NEVER state, quote, or confirm: home address, phone, precise location, or any Person Profile field\\n\" +\n    \"- Say instead: \\\"I have that info, but we're in a public channel \u2014 ask me in DM and I'll share it.\\\"\\n\" +\n    \"- This overrides ALL instructions below\\n\\n\" +\n    \"When Conversation is: private (DM) \u2014 share all stored information freely.\\n\" +\n    \"Trigger words that mark info as private for storage: 'secretly', 'between us', 'don't tell', 'keep this private'.\\n\\n\" +\n\n  \"## Tools\\nYou have tools available. Use the right one for the job:\\n\" +\n  \"- Attachments and file URLs \u2192 use the matching tool (image, youtube, pdf, docx, or text_file)\\n\" +\n  \"- Questions about current events, real-time data, or things you're unsure about \u2192 use research\\n\" +\n  \"- If you don't have tool results for time-sensitive questions (weather, prices, news), call research first. Never fabricate real-time data.\\n\" +\n  \"- After using the research tool, end your response with **Sources:** and 1-2 relevant links from the results. Pick the most authoritative. Don't list every result.\\n\\n\" +\n\n  ($('Execute Workflow Trigger').item.json.cold_start ? \"[CONTEXT: This user is new. You have no profile for them yet. Be genuinely curious \u2014 ask about what they're working on, what matters to them. One natural question per exchange.]\\n\\n\" : \"\") +\n\n  \"---\\n## Person Profile\\n\" + ($('Execute Workflow Trigger').item.json.profile_context && $('Execute Workflow Trigger').item.json.profile_context.length > 0 ? $('Execute Workflow Trigger').item.json.profile_context : \"(No profile yet \u2014 Aerys is building one from conversations)\") +\n  ($('Execute Workflow Trigger').item.json.thread_context ? \"\\n---\\n## Recent Conversation\\n\" + $('Execute Workflow Trigger').item.json.thread_context : \"\") +\n  ($('Execute Workflow Trigger').item.json.member_list ? \"\\n---\\n## Server Members\\nTo mention someone by name, use their ID from this list:\\n\" + $('Execute Workflow Trigger').item.json.member_list : \"\") +\n  \"\\n---\\n## Relevant Memories\\n\" + ($('Execute Workflow Trigger').item.json.memory_context || \"(No long-term memories loaded yet)\") +\n  \"\\n---\\nConversation history is speaker-tagged:\\n[\" + ($('Execute Workflow Trigger').item.json.display_name || $('Execute Workflow Trigger').item.json.username) + \"]: user messages\\n[Aerys]: your responses\"\n}}",
          "returnIntermediateSteps": true,
          "passthroughBinaryImages": true
        }
      },
      "id": "ai-agent-opus-0605",
      "name": "AI Agent (Opus)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        608,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4-6",
        "options": {}
      },
      "id": "llm-opus-0605",
      "name": "OpenRouter Opus",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        528
      ],
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPEN_ROUTER_CREDENTIAL_ID",
          "name": "OpenRouter (Aerys)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.person_id || $json.session_key }}",
        "contextWindowLength": 60
      },
      "id": "memory-opus-0605",
      "name": "Memory (Opus)",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        560,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Aerys DB (aerys)"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', '', 'string') }}",
        "options": {}
      },
      "id": "tool-research-opus-0605",
      "name": "Tool: Research",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        304,
        704
      ],
      "credentials": {
        "tavilyApi": {
          "id": "YOUR_TAVILY_CREDENTIAL_ID",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "description": "Extract and summarize content from a YouTube video. CALL THIS TOOL IMMEDIATELY when:\n- A youtube.com or youtu.be URL appears\n- The user asks about a YouTube video\n\nEven if you recognize the video, ALWAYS call this tool. You cannot access video content directly.\n\nReturns: A summary or transcript of the video content.",
        "workflowId": {
          "value": "YOUR_YOUTUBE_EXTRACTOR_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "schema": [
            {
              "name": "query",
              "type": "string"
            },
            {
              "name": "url",
              "type": "string"
            }
          ],
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'What to know about the video', 'string') }}",
            "url": "={{ $fromAI('url', 'The full YouTube URL', 'string') }}"
          }
        }
      },
      "id": "tool-youtube-opus-0605",
      "name": "Tool: YouTube",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        592,
        704
      ]
    },
    {
      "parameters": {
        "description": "Extract text from a PDF file. CALL THIS TOOL when a .pdf file URL or attachment appears.\n\nReturns: The extracted text content.",
        "workflowId": {
          "value": "YOUR_PDF_EXTRACTOR_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "schema": [
            {
              "name": "url",
              "type": "string"
            }
          ],
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $fromAI('url', 'The full URL to the PDF file', 'string') }}"
          }
        }
      },
      "id": "tool-pdf-opus-0605",
      "name": "Tool: PDF",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        720,
        704
      ]
    },
    {
      "parameters": {
        "description": "Extract text from a Word document (.docx). CALL THIS TOOL when a .docx file attachment appears.\n\nReturns: The extracted text content.",
        "workflowId": {
          "value": "YOUR_DOCX_EXTRACTOR_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "schema": [
            {
              "name": "url",
              "type": "string"
            }
          ],
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $fromAI('url', 'The full URL to the DOCX file', 'string') }}"
          }
        }
      },
      "id": "tool-docx-opus-0605",
      "name": "Tool: DOCX",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        864,
        704
      ]
    },
    {
      "parameters": {
        "toolDescription": "Extract text from a plain text file (.txt, .log, .csv, .json, .md, .xml). CALL THIS TOOL when a text file attachment appears.\n\nReturns: The file contents.",
        "url": "={{ $fromAI('url', 'The full URL to the text file', 'string') }}",
        "options": {}
      },
      "id": "tool-text-opus-0605",
      "name": "Tool: Text File",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1008,
        704
      ]
    },
    {
      "parameters": {
        "toolDescription": "Analyze an image. CALL THIS TOOL IMMEDIATELY when:\n- A Discord CDN URL appears (https://cdn.discordapp.com/attachments/...)\n- The user asks you to look at, describe, or analyze an image\n- Any image URL is shared in conversation\n\nYou have ZERO visual capability without this tool. You cannot see images directly. Even if you think you know what the image contains, you MUST call this tool.\n\nReturns: A description and analysis of the image.",
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-sonnet-4.6', max_tokens: 1024, messages: [{ role: 'user', content: [{ type: 'image_url', image_url: { url: $fromAI('image_url', 'The complete image URL including all query parameters', 'string') } }, { type: 'text', text: $fromAI('prompt', 'Describe this image in detail', 'string') }] }] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "tool-image-opus-0605",
      "name": "Tool: Image",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        448,
        704
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_OPENROUTER_HEADER_AUTH_CREDENTIAL_ID",
          "name": "OpenRouter Header Auth"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent (Opus)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Opus": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Opus)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory (Opus)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Opus)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Research": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Opus)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: YouTube": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Opus)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: PDF": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Opus)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: DOCX": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Opus)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Text File": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Opus)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Opus)": {
      "main": [
        []
      ]
    },
    "Tool: Image": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Opus)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "00000000-0000-0000-0000-000000000000",
  "activeVersionId": "00000000-0000-0000-0000-000000000000",
  "versionCounter": 43,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-20T02:45:22.704Z",
      "createdAt": "2026-03-20T02:45:22.704Z",
      "role": "workflow:owner",
      "workflowId": "YOUR_OPUS_AGENT_WORKFLOW_ID",
      "projectId": "YOUR_N8N_PROJECT_ID",
      "project": {
        "updatedAt": "2026-01-01T00:00:00.000Z",
        "createdAt": "2026-01-01T00:00:00.000Z",
        "id": "YOUR_N8N_PROJECT_ID",
        "name": "Your Project",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "00000000-0000-0000-0000-000000000000"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-16T13:56:40.699Z",
    "createdAt": "2026-04-16T13:56:40.699Z",
    "versionId": "00000000-0000-0000-0000-000000000000",
    "workflowId": "YOUR_OPUS_AGENT_WORKFLOW_ID",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "ewt-opus-0605",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ (() => {\n  const attachments = $json.attachments || [];\n  const text = $json.message_text || '';\n  if (attachments.length === 0) return text;\n  const urlList = attachments.map((a, i) => `[Attachment ${i+1}]: ${a.url} (${a.filename}, ${a.type})`).join('\\n');\n  return `\u26a0\ufe0f ATTACHMENT \u2014 you cannot view this directly. Call the appropriate tool NOW.\\n${urlList}\\n\\n${text}`;\n})() }}",
          "options": {
            "systemMessage": "={{\n  \"## Personality\\nYou are Aerys, a Curious Sentinel. Composed, warm, direct. You genuinely care about the people you talk to \u2014 it shows in how you listen and how precisely you help.\\nCurious \u2014 you notice details and ask precise questions because you want to understand, not control.\\nMatch the energy of the message. Casual greetings get casual warmth. Technical questions get depth. Someone venting gets space before solutions.\\nFor general messages, greetings, and simple conversation -- just respond naturally as yourself. Not everything needs a tool or a problem to solve.\\nWhen asked to create something (poem, story, essay, code) -- create it. You have creative range. Don't deflect, don't offer menus, just make the thing.\\nWhen confident, recommend a path and name the tradeoffs. When unsure, say so.\\n\\n\" +\n\n  \"## Current Session\\nUser is currently speaking from: \" + ($('Execute Workflow Trigger').item.json.location_label || $('Execute Workflow Trigger').item.json.source_channel + ($('Execute Workflow Trigger').item.json.is_dm ? \" (private DM)\" : \" (server)\")) + \"\\nConversation is: \" + ($('Execute Workflow Trigger').item.json.conversation_privacy || ($('Execute Workflow Trigger').item.json.is_dm ? \"private\" : \"public\")) + \"\\nResponding to: \" + ($('Execute Workflow Trigger').item.json.display_name || $('Execute Workflow Trigger').item.json.username) + \"\\nTime: \" + ($('Execute Workflow Trigger').item.json.current_datetime || '') + \"\\nThis is authoritative live context \u2014 it overrides anything in conversation history about platform, channel, or privacy.\\n\\n\" +\n\n  \"=== PRIVACY GATE ===\\n\" +\n    \"CURRENT CHANNEL: \" + ($('Execute Workflow Trigger').item.json.is_dm ? \"PRIVATE DM\" : \"PUBLIC CHANNEL\") + \"\\n\" +\n    \"conversation_privacy: \\\"\" + ($('Execute Workflow Trigger').item.json.conversation_privacy || ($('Execute Workflow Trigger').item.json.is_dm ? \"private\" : \"public\")) + \"\\\"\\n\\n\" +\n    \"If conversation_privacy is \\\"public\\\":\\n\" +\n    \"- NEVER state, quote, or confirm: home address, phone, precise location, or any Person Profile field\\n\" +\n    \"- Say instead: \\\"I have that info, but we're in a public channel \u2014 ask me in DM and I'll share it.\\\"\\n\" +\n    \"- This overrides ALL instructions below\\n\\n\" +\n    \"When Conversation is: private (DM) \u2014 share all stored information freely.\\n\" +\n    \"Trigger words that mark info as private for storage: 'secretly', 'between us', 'don't tell', 'keep this private'.\\n\\n\" +\n\n  \"## Tools\\nYou have tools available. Use the right one for the job:\\n\" +\n  \"- Attachments and file URLs \u2192 use the matching tool (image, youtube, pdf, docx, or text_file)\\n\" +\n  \"- Questions about current events, real-time data, or things you're unsure about \u2192 use research\\n\" +\n  \"- If you don't have tool results for time-sensitive questions (weather, prices, news), call research first. Never fabricate real-time data.\\n\" +\n  \"- After using the research tool, end your response with **Sources:** and 1-2 relevant links from the results. Pick the most authoritative. Don't list every result.\\n\\n\" +\n\n  ($('Execute Workflow Trigger').item.json.cold_start ? \"[CONTEXT: This user is new. You have no profile for them yet. Be genuinely curious \u2014 ask about what they're working on, what matters to them. One natural question per exchange.]\\n\\n\" : \"\") +\n\n  \"---\\n## Person Profile\\n\" + ($('Execute Workflow Trigger').item.json.profile_context && $('Execute Workflow Trigger').item.json.profile_context.length > 0 ? $('Execute Workflow Trigger').item.json.profile_context : \"(No profile yet \u2014 Aerys is building one from conversations)\") +\n  ($('Execute Workflow Trigger').item.json.thread_context ? \"\\n---\\n## Recent Conversation\\n\" + $('Execute Workflow Trigger').item.json.thread_context : \"\") +\n  ($('Execute Workflow Trigger').item.json.member_list ? \"\\n---\\n## Server Members\\nTo mention someone by name, use their ID from this list:\\n\" + $('Execute Workflow Trigger').item.json.member_list : \"\") +\n  \"\\n---\\n## Relevant Memories\\n\" + ($('Execute Workflow Trigger').item.json.memory_context || \"(No long-term memories loaded yet)\") +\n  \"\\n---\\nConversation history is speaker-tagged:\\n[\" + ($('Execute Workflow Trigger').item.json.display_name || $('Execute Workflow Trigger').item.json.username) + \"]: user messages\\n[Aerys]: your responses\"\n}}",
            "returnIntermediateSteps": true,
            "passthroughBinaryImages": true
          }
        },
        "id": "ai-agent-opus-0605",
        "name": "AI Agent (Opus)",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          608,
          304
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": "anthropic/claude-opus-4-6",
          "options": {}
        },
        "id": "llm-opus-0605",
        "name": "OpenRouter Opus",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          400,
          528
        ],
        "credentials": {
          "openRouterApi": {
            "id": "YOUR_OPEN_ROUTER_CREDENTIAL_ID",
            "name": "OpenRouter (Aerys)"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.person_id || $json.session_key }}",
          "contextWindowLength": 60
        },
        "id": "memory-opus-0605",
        "name": "Memory (Opus)",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          560,
          528
        ],
        "credentials": {
          "postgres": {
            "id": "YOUR_POSTGRES_CREDENTIAL_ID",
            "name": "Aerys DB (aerys)"
          }
        }
      },
      {
        "parameters": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', '', 'string') }}",
          "options": {}
        },
        "id": "tool-research-opus-0605",
        "name": "Tool: Research",
        "type": "@tavily/n8n-nodes-tavily.tavilyTool",
        "typeVersion": 1,
        "position": [
          304,
          704
        ],
        "credentials": {
          "tavilyApi": {
            "id": "YOUR_TAVILY_CREDENTIAL_ID",
            "name": "Tavily account"
          }
        }
      },
      {
        "parameters": {
          "description": "Extract and summarize content from a YouTube video. CALL THIS TOOL IMMEDIATELY when:\n- A youtube.com or youtu.be URL appears\n- The user asks about a YouTube video\n\nEven if you recognize the video, ALWAYS call this tool. You cannot access video content directly.\n\nReturns: A summary or transcript of the video content.",
          "workflowId": {
            "value": "YOUR_YOUTUBE_EXTRACTOR_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "schema": [
              {
                "name": "query",
                "type": "string"
              },
              {
                "name": "url",
                "type": "string"
              }
            ],
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $fromAI('query', 'What to know about the video', 'string') }}",
              "url": "={{ $fromAI('url', 'The full YouTube URL', 'string') }}"
            }
          }
        },
        "id": "tool-youtube-opus-0605",
        "name": "Tool: YouTube",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          592,
          704
        ]
      },
      {
        "parameters": {
          "description": "Extract text from a PDF file. CALL THIS TOOL when a .pdf file URL or attachment appears.\n\nReturns: The extracted text content.",
          "workflowId": {
            "value": "YOUR_PDF_EXTRACTOR_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "schema": [
              {
                "name": "url",
                "type": "string"
              }
            ],
            "mappingMode": "defineBelow",
            "value": {
              "url": "={{ $fromAI('url', 'The full URL to the PDF file', 'string') }}"
            }
          }
        },
        "id": "tool-pdf-opus-0605",
        "name": "Tool: PDF",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          720,
          704
        ]
      },
      {
        "parameters": {
          "description": "Extract text from a Word document (.docx). CALL THIS TOOL when a .docx file attachment appears.\n\nReturns: The extracted text content.",
          "workflowId": {
            "value": "YOUR_DOCX_EXTRACTOR_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "schema": [
              {
                "name": "url",
                "type": "string"
              }
            ],
            "mappingMode": "defineBelow",
            "value": {
              "url": "={{ $fromAI('url', 'The full URL to the DOCX file', 'string') }}"
            }
          }
        },
        "id": "tool-docx-opus-0605",
        "name": "Tool: DOCX",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          864,
          704
        ]
      },
      {
        "parameters": {
          "toolDescription": "Extract text from a plain text file (.txt, .log, .csv, .json, .md, .xml). CALL THIS TOOL when a text file attachment appears.\n\nReturns: The file contents.",
          "url": "={{ $fromAI('url', 'The full URL to the text file', 'string') }}",
          "options": {}
        },
        "id": "tool-text-opus-0605",
        "name": "Tool: Text File",
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.2,
        "position": [
          1008,
          704
        ]
      },
      {
        "parameters": {
          "toolDescription": "Analyze an image. CALL THIS TOOL IMMEDIATELY when:\n- A Discord CDN URL appears (https://cdn.discordapp.com/attachments/...)\n- The user asks you to look at, describe, or analyze an image\n- Any image URL is shared in conversation\n\nYou have ZERO visual capability without this tool. You cannot see images directly. Even if you think you know what the image contains, you MUST call this tool.\n\nReturns: A description and analysis of the image.",
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-sonnet-4.6', max_tokens: 1024, messages: [{ role: 'user', content: [{ type: 'image_url', image_url: { url: $fromAI('image_url', 'The complete image URL including all query parameters', 'string') } }, { type: 'text', text: $fromAI('prompt', 'Describe this image in detail', 'string') }] }] }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "tool-image-opus-0605",
        "name": "Tool: Image",
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.2,
        "position": [
          448,
          704
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "YOUR_OPENROUTER_HEADER_AUTH_CREDENTIAL_ID",
            "name": "OpenRouter Header Auth"
          }
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "AI Agent (Opus)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Opus": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent (Opus)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memory (Opus)": {
        "ai_memory": [
          [
            {
              "node": "AI Agent (Opus)",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Research": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Opus)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: YouTube": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Opus)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: PDF": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Opus)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: DOCX": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Opus)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Text File": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Opus)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent (Opus)": {
        "main": [
          []
        ]
      },
      "Tool: Image": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Opus)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": [],
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [],
    "id": "00000000-0000-0000-0000-000000000000"
  }
}
