workflows/04-03-profile-api.json
{
  "name": "04-03 Profile API",
  "nodes": [
    {
      "parameters": {
        "path": "aerys-profile-api",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-prof-wh-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "00000000-0000-0000-0000-000000000000"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH params AS (\n  SELECT $1::uuid AS pid, $2::text AS pctx\n),\nclaims AS (\n  SELECT cc.core_id, cc.key_label, cc.claim_text, cc.status, cc.locked, cc.confidence, cc.sensitivity, cc.visibility\n  FROM core_claim cc, params p\n  WHERE cc.speaker_id = p.pid\n    AND cc.status IN ('approved', 'provisional')\n    AND cc.sensitivity IN ('P2', 'P3')\n    AND (cc.visibility = 'all'\n      OR (cc.visibility = 'server' AND p.pctx = 'public')\n      OR (cc.visibility = 'dm' AND p.pctx = 'private')\n    )\n  ORDER BY\n    CASE WHEN cc.locked THEN 0 ELSE 1 END,\n    cc.confidence DESC NULLS LAST\n  LIMIT 15\n)\nSELECT * FROM claims\nUNION ALL\nSELECT NULL::uuid, NULL, NULL, NULL, NULL, NULL, NULL, NULL\nWHERE NOT EXISTS (SELECT 1 FROM claims);",
        "options": {
          "queryReplacement": "={{ [$json.body.person_id || $json.body.speaker_id, $json.body.privacy_context || 'public'] }}",
          "alwaysOutputData": true
        }
      },
      "id": "node-prof-pg-001",
      "name": "Query Profile Claims",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        470,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Aerys DB (aerys)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.core_id !== null && $json.core_id !== undefined && $json.core_id !== '' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-prof-if-001",
      "name": "Has Profile Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n// Filter out any null sentinel rows\nconst realRows = rows.filter(r => r.core_id !== null && r.core_id !== undefined);\n\n// Group claims by category for readable injection\nconst categoryOrder = ['basic', 'interests', 'relationship', 'emotional', 'other'];\nconst grouped = {};\nrealRows.forEach(r => {\n  const cat = r.key_label.split('.')[0] || 'other';\n  if (!grouped[cat]) grouped[cat] = [];\n  grouped[cat].push('\u2022 ' + r.claim_text);\n});\n\nconst lines = [];\ncategoryOrder.forEach(cat => {\n  if (grouped[cat]) lines.push(...grouped[cat]);\n});\nObject.keys(grouped).filter(k => !categoryOrder.includes(k)).forEach(cat => {\n  lines.push(...grouped[cat]);\n});\n\nconst nameClaim = realRows.find(r => r.key_label === 'basic.name' || r.key_label === 'name');\nconst displayName = nameClaim ? nameClaim.claim_text.split(': ').pop() : null;\n\nreturn [{\n  json: {\n    profile: {\n      display_name: displayName,\n      lines,\n      cold_start: false\n    }\n  }\n}];"
      },
      "id": "node-prof-code-001",
      "name": "Format Profile Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through the webhook input as cold_start profile\nreturn [{\n  json: {\n    profile: {\n      display_name: null,\n      lines: [],\n      cold_start: true\n    }\n  }\n}];"
      },
      "id": "node-prof-cold-001",
      "name": "Cold Start Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "node-prof-resp-001",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1130,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Query Profile Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Profile Claims": {
      "main": [
        [
          {
            "node": "Has Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Profile Data": {
      "main": [
        [
          {
            "node": "Format Profile Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cold Start Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Profile Context": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cold Start Profile": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "id": "04-03-profile-api"
}