workflows/05-03-gmail-trigger.json
{
  "id": "05-03-gmail-trigger",
  "name": "05-03 Gmail Trigger",
  "nodes": [
    {
      "id": "gmail-trig-1",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "authentication": "oAuth2",
        "event": "messageReceived",
        "filters": {
          "readStatus": "unread",
          "labelIds": [
            "INBOX"
          ]
        },
        "simple": false,
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_FULL_CREDENTIAL_ID",
          "name": "Gmail - Aerys"
        }
      }
    },
    {
      "id": "gmail-format-notif-2",
      "name": "Format Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const email = $json;\n\n// n8n simple:false parses key fields directly — no header array needed\nconst fromObj = email.from;\nconst from = (fromObj && fromObj.value && fromObj.value[0])\n  ? (fromObj.value[0].name || fromObj.value[0].address)\n  : (typeof fromObj === 'string' ? fromObj : 'unknown');\n\nconst subject = email.subject || '(no subject)';\nconst inReplyTo = email.inReplyTo || null;\nconst is_reply = Boolean(inReplyTo);\n\n// Full body for LLM; trimmed snippet for fresh email display\nconst fullText = email.text || '';\nconst snippet = fullText.substring(0, 200);\n\nreturn [{json: {\n  from,\n  subject,\n  snippet,\n  full_text: fullText,\n  is_reply,\n  in_reply_to: inReplyTo\n}}];"
      }
    },
    {
      "id": "gmail-send-router-3",
      "name": "Send to Output Router",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "workflowId": {
          "value": "YOUR_OUTPUT_ROUTER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "schema": [],
          "mappingMode": "passthrough",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "gmail-if-reply",
      "name": "Is Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.is_reply }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "condition-1772572946979-k5he6q5m0"
            }
          ],
          "combinator": "and",
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "gmail-summarize-llm",
      "name": "Summarize Reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        900,
        160
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ 'From: ' + $('Format Notification').item.json.from + '\\nSubject: ' + $('Format Notification').item.json.subject + '\\n\\n' + $('Format Notification').item.json.full_text }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a concise email summarizer. In 1-2 sentences, describe what this person is saying in their reply. Focus only on the reply itself — ignore any quoted original messages below the separator line. Plain text only, no markdown."
            }
          ]
        }
      }
    },
    {
      "id": "gmail-summarize-model",
      "name": "Summarize Reply Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        900,
        340
      ],
      "parameters": {
        "model": "google/gemini-2.5-flash-lite"
      },
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter (Aerys)"
        }
      }
    },
    {
      "id": "gmail-format-reply",
      "name": "Format Reply Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        160
      ],
      "parameters": {
        "jsCode": "// LangChain context black hole — recover email data from upstream Code node\nconst email = $('Format Notification').item.json;\nconst summary = $json.text;\n\nconst parseFromName = (from) => {\n  const match = from.match(/^\"?([^\"<]+)\"?\\s*</);\n  if (match) return match[1].trim();\n  return from.split('@')[0];\n};\n\nconst senderName = parseFromName(email.from);\nconst msg = `${senderName} replied to Aerys\\nSubject: ${email.subject}\\n\\n${summary}`;\n\nreturn [{json: {\n  text: msg,\n  source_channel: 'telegram',\n  channel_id: '7113937380',\n  session_key: 'YOUR_OWNER_PERSON_ID'\n}}];"
      }
    },
    {
      "id": "gmail-format-fresh",
      "name": "Format Fresh Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        460
      ],
      "parameters": {
        "jsCode": "const email = $json;\n\nconst msg = `New email for Aerys\\nFrom: ${email.from}\\nSubject: ${email.subject}${email.snippet ? '\\n> ' + email.snippet.substring(0, 150) : ''}`;\n\nreturn [{json: {\n  text: msg,\n  source_channel: 'telegram',\n  channel_id: '7113937380',\n  session_key: 'YOUR_OWNER_PERSON_ID'\n}}];"
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Format Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notification": {
      "main": [
        [
          {
            "node": "Is Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Reply?": {
      "main": [
        [
          {
            "node": "Summarize Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Fresh Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Reply Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Reply": {
      "main": [
        [
          {
            "node": "Format Reply Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply Notification": {
      "main": [
        [
          {
            "node": "Send to Output Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Fresh Notification": {
      "main": [
        [
          {
            "node": "Send to Output Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1772573602,
        "possibleDuplicates": [
          "19cb59eb8970dd93"
        ]
      }
    }
  }
}