workflows/06-05-docx-extractor.json
{
  "id": "06-05-docx-extractor",
  "name": "06-05 DOCX Extractor",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        60,
        300
      ],
      "id": "docx-trigger-001"
    },
    {
      "parameters": {
        "url": "={{ $json.url || $json.query }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        300
      ],
      "id": "docx-download-001"
    },
    {
      "parameters": {},
      "name": "Convert DOCX",
      "type": "@mazix/n8n-nodes-converter-documents.convertFileToJson",
      "typeVersion": 5,
      "position": [
        500,
        300
      ],
      "id": "docx-convert-001"
    },
    {
      "parameters": {
        "jsCode": "// Truncate and return DOCX text\n// @mazix converter outputs text in files[0].text (NOT $json.text or $json.content)\nlet text = ($json.files && $json.files[0] && $json.files[0].text) || $json.text || $json.data || $json.content || $json.body || '';\nif (typeof text !== 'string') {\n  try { text = JSON.stringify(text); } catch(e) { text = String(text); }\n}\nif (text.length > 8000) {\n  text = text.substring(0, 8000) + '\\n\\n[Content truncated — showing first 8000 characters]';\n}\n\nif (!text || text.trim().length === 0) {\n  return [{json: {\n    result: \"The document appears to be empty or I couldn't extract readable text from it.\",\n    media_type: 'docx'\n  }}];\n}\n\nreturn [{json: {\n  result: text,\n  media_type: 'docx'\n}}];"
      },
      "name": "Truncate and Return",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "id": "docx-truncate-001"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Convert DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert DOCX": {
      "main": [
        [
          {
            "node": "Truncate and Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": null
}